
<div class="questions">
    <h2>ხშირად დასმული კითხვები</h2>
    <div class="question_details">
        <details>
            <summary>სხვა დიზაინითაც შემიძლია შეგიკვეთოთ ტორტი?</summary>
            <p class="summary_p">რა თქმა უნდა! ნებისმიერი დიზაინი შეგიძლიათ მოგვაწოდოთ,
                უბრალოდ, გთხოვთ გაითვალისწინოთ, მხოლოდ ბავშვობის მოგონებებს ვქმნით</p>
        </details>
 
        <details>
            <summary>რამდენი დღით ადრე შემიძლია შეგიკვეთოთ?</summary>
            <p class="summary_p">სასურველია დაგვიკავშირდეთ, მინიმუმ 5 დღით ადრე. </p>
        </details>
 
        <details>
            <summary>შესაკვეთად თქვენთან მოსვლა არის საჭირო?</summary>
            <p class="summary_p">ყველა დეტალზე შეგითანხმდებით და ზუსტად ისეთს დაგიმზადებთ, 
                როგორიც ჩვენს გვერდზეა განთავსებული/ როგორსაც მოგვაწვდით. თქვენი მოსვლა არ იქნება საჭირო.</p>
        </details>
        <details>
            <summary>საკურიერო მომსახურება თუ გაქვთ?</summary>
            <p>რაც შეეხება საკურიერო მომსახურებას, მხოლოდ თბილისში შეგვიძლია შემოგთავაზოთ.</p>
        </details>
       
    </div>
</div>
