<section>
    <div class=cake-footer>

    <div class="columns">
    
    <div class="company-info"> <!-- ფუტერის პირველი სვეტი -->
        <div class="logo">
            <div class="logo-img"><img alt="logo-img" src="../../assets/logocake.svg"></div>
            <div class="logo-name">ბავშვობის ტორტი</div>
        </div>
        <address>
        <div class="contact-info">
            
            <div class="contact-address">
                <img alt="contact-address"  src ="../../assets/address.svg">
                <a href="https://maps.app.goo.gl/tj2zgJ1hmaouaNGt9">
                <p>თბილისი. ქვიშხეთის # 37. </p></a>
            </div>
    
            <div class="contact-email">
                <img alt="contact-email" src ="../../assets/email.svg">
                <a href="https://mail.google.com/">
                <p>info&#64;bavshvobisTorti.ge </p></a>
            </div>
    
            <div class="contact-number">
                <img alt="contact-number" src="../../assets/phone.svg">
                <p>(032) 2 333 999 </p>
            </div>
    
        </div>
    
    </address>
    </div><!-- პირველი სვეტის დასასრული-->
    
    <div class="footer-product">
    
        <div class="footer-product-title">
            <a routerLink="/torteuli">დღესასწაულები</a>
        </div>
    
    <div class="boy-girl">
        <img alt="boy-girl" src="../../assets/bg.svg">
        <p> ბიჭია თუ გოგო ? </p>
    </div>
    
    <div class="hb-day">
        <img alt="hb-day"src="../../assets/hbd.svg">
        <p>დაბადების დღე </p>
    </div>
    
    <div class="christing">
        <img alt="christing" src="../../assets/christ.svg">
        <p>ნათლობა </p>
    </div>
    
    <div class="first-tooth">
        <img alt="first-tooth" src="../../assets/ft.svg">
        <p>პირველი კბილი </p>
    </div>
    </div><!-- მეორე სვეტის დასასრული-->
    
    
    
    <div class="us">
    
        <div class="working-hours">
            <img alt="working-hours" src="../../assets/time.svg">
            <p>ორშაბათი-კვირა 09:00 - 22:00 </p>
        </div>
        
        <div class="courier">
            <img alt="courier" src="../../assets/courier.svg">
            <p> საკურიერო მომსახურება საჩუქრად </p>
        </div>
    <br>
        <div class="questions">
            <a routerLink="/faq">
                <img alt="Question Icon"src="../../assets/question.svg" >
                <p> ხშირად დასმული კითხვები</p></a>

        </div>

    
    
    
    
    </div>
    
    <div class="social-media-part">
    <div>     <p>დაგვიმეგობრდით</p></div>

        <div class ="social-media">
            <a href="https://www.facebook.com/" target="_blank" rel="noopener">
                <img src="../../assets/facebook.svg" alt="Facebook">
            </a>
    
            <a href="https://www.instagram.com/" target="_blank" rel="noopener">
                <img src="../../assets/instagram.svg" alt="instagram" >
            </a>
    
            <a href="https://www.linkedin.com/" target="_blank" rel="noopener">
                <img src="../../assets/linkedin.svg" alt="linkedin">
            </a>
    
            <a href="https://twitter.com" target="_blank" rel="noopener">
                <img src="../../assets/twitter.svg" alt="twitter">
            </a>
        </div>
        <div class="payment">
            <img src="../../assets/visa.svg" alt="visa" rel="noopener">
            <img src="../../assets/mastercard.svg" alt="mastercard">
            <img src="../../assets/amex.svg" alt="amex">
        </div>
    
    </div><!-- მეოთხე სვეტის დასასრული-->
    
    </div> <!-- მთლიანი სვეტების დასასრული-->
    <div class="developer">
        <p class="copyright">Teona Inaneishvili - IT Academy Step © 2024</p>
    </div>
    
    
    </div>
    
    <!-- მთლიანი ფუტერის დასასრული-->
    
 </section>
    
    
    
    
    
    
    
    
    
    
    







