<div class="about-us">

<div class="about-us-image">
<img alt="shop-image" src="https://github.com/TeonaInaneshvili/-/blob/main/aboutUsImage.jpg?raw=true">

</div>

<div class="about-us-content"><p>2023 წლის 28 ნოემბერს IT ACADEMY STEP-ის მხარდაჭერით დავაარსეთ საკონდიტრო, რომელიც ასე შეიყვარეთ..</p>
<p>ბევრი ვიფიქრეთ თუ რა სახელით მოვსულიყავით თქვენამდე</p>

<p><span>ბავშვობის ტორტი</span> - შემთხვევითი გადაწყვეტილება არ ყოფილა..</p>
<br>
<p>ჩვენი შექმნილი ტორტეულით, აუცილებლად, ვიქნებით თქვენთვის ძვირფასი პატარების
ბედნიერი მომენტებით გაჯერებული ბავშვობის ნაწილი. 

<p>ჩვენს ტორტს მოყვება მოგონებები, რომელიც უფრო ტკბილია ვიდრე ტორტი, რომელიც არასოდეს დაავიწყდება.. და სულ ღიმილიან მოგონებად დარჩება.</p> 

<p>მოსამზადებლად გამოყენებულია სხვადასხვა ინგრედიენტები, როგორიცაა ფქვილი, შაქარი, 
კვერცხი, საკვები საღებავი, მარციპანი, კარაქი და რძე. </p>

<p>ტორტები ერთმანეთისგან განსხვავდებიან 
შიგთავსით. შეგვიძლია შემოგთავაზოთ კენკრის შიგთავსით ან ხილის შიგთავსით. რაც შეეხება 
კრემს,- ვამზადებთ, როგორც თეთრი კრემით, ასევე  შოკოლადის კრემით. 
<p>ტორტზე შეგვიძლია გავაკეთოთ თქვენთვის სასურველი წარწერები. რაც კიდევ უფრო უნიკალურს და განსაკუთრებულს გახდის თქვენს შერჩეულ ტორტს.
</p>
</div>


</div>
